<div class="row currency-selected">
  <div class="col-12 d-flex flex-row justify-content-between">
    <div class="currency-selected m-2 p-2">
      <h4>Products ({{currencyQuery}})</h4>
    </div>
    <div class="currency-filter m-2 p-2">
      Currency:
      <select class="custom-select" ng-model="currencyQuery" ng-change="$ctrl.changeCurrency()">
        <option value="NZD" selected>NZD</option>
        <option value="USD">USD</option>
        <option value="EURO">EURO</option>
      </select>
    </div>
  </div>
</div>
<div class="row product-table">
  <div class="col-12">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">Price
              <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">Type
              <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products | orderBy:sortType:sortReverse">
          <td>{{product.name}}</td>
          <td>{{product.convertedPrice | currency : product.currencySymbol}}</td>
          <td>{{product.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
