body {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
}

.container.primary {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 2px;
}
